{% extends 'base.html' %}

{% block title %}Аторизация{% endblock %}

{% block content %}
    <h1>Авторизация</h1>
    {% if form.errors %}
        <p>Ваши логи и пароль неверны. Повторите ещё раз...</p>
    {% else %}
        <p>Пожалуйста укажите для авторизации</p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Вход"></p>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        </p>
        <p>
            Нет учётной записи? <a href="{% url 'register' %}">Зарегистрироваться.</a>
        </p>
    </div>

{% endblock %}