{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}3
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Пожалуйста укажите новый пароль</p>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Сохранить">
        </form>
        {% else %}
        <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. <br>
            Пожалуйста, запросите сброс нового пароля.</p>
    {% endif %}
{% endblock %}